<nav class="site-nav container" role="navigation">
  <%= link_to 'hearts and bones', '/index.html', :relative => true, class: 'navbar-brand' %>
  <ul class="nav-links">
    <!--<li><i class="fa fa-angle-double-right"></i><%= link_to 'Band','/' %>
      <ul>
        <li><%= link_to 'subnav','/' %></li>
      </ul>
    </li>-->
    <li><%= link_to 'Band', '/band.html', :relative => true %>
      <ul></ul>
    </li>

    <li><%= link_to 'Music','/music.html', :relative => true %>
      <ul></ul>
    </li>

    <li><%= link_to 'Photos','/photo.html', :relative => true %>
      <ul></ul>
    </li>

    <li><%= link_to 'Contact','/contact.html', :relative => true %>
      <ul></ul>
    </li>
    <li><%= link_to 'Events','/events.html', :relative => true %>
      <ul></ul>
    </li>

  </ul>

  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
