<nav class="site-nav container" role="navigation">
  <% link_to '/', class: 'navbar-brand' do %>
    hearts and bones band
  <% end %>

  <ul class="nav-links">
    <!--<li><i class="fa fa-angle-double-right"></i><%= link_to 'Band','/' %>
      <ul>
        <li><%= link_to 'subnav','/' %></li>
      </ul>
    </li>-->
    <li><%= link_to 'Band', '/band.html', :relative => true %>
      <ul></ul>
    </li>

    <li><%= link_to 'Music','/music.html', :relative => true %>
      <ul></ul>
    </li>

    <li><%= link_to 'Photos','/photo.html', :relative => true %>
      <ul></ul>
    </li>

    <li><%= link_to 'Contact','/' %>
      <ul></ul>
    </li>

  </ul>

  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
