---
title: hearts and bones band | Band
---



<div class="container">
<h1>The Band</h1>
<div class="card-wrapper">
  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <%= lorem.sentences 5 %>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <%= lorem.sentences 5 %>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <%= lorem.sentences 5 %>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <%= lorem.sentences 5 %>
    </div>
  </div>
  </div>
</div>
