---
title: hearts and bones band
---
<div class="hero-bg">
  <%= image_tag 'groupheader.jpg' %>
</div>

<div class="container module">
<section class="panel-welcome">
    <h1>HEARTS & BONES</h1>
    <p>
      New to you (Nov 18, 2016): We're in the process of recording our first group CD.
      Along with Richard and Poncho's solo works,
      these will be for sale at our gigs and on CD Baby when we post to that marketplace.
    </p>
  </section>
</div>
<!-- -->
<div class="tiles">

 <a href="#" class="tile">
    <%= image_tag 'richard.png' %>
    <div class="details">
      <span class="title">Lorem Ipsum Dolor</span>
      <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
    </div>
  </a>

  <a href="#" class="tile">
    <%= image_tag 'dennis.png' %>
    <div class="details">
      <span class="title">Dennis Mahoney</span>
      <span class="info">
        - Drummer - drives the rhythm using his strong sense of percussive accents. Now he chairs Hearts & Bones and keeps the energy up.
      </span>
    </div>
  </a>



  <a href="#" class="tile">
    <%= image_tag 'poncho.png' %>
    <div class="details">
      <span class="title">Lorem Ipsum Dolor</span>
      <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
    </div>
  </a>

  <a href="#" class="tile">
    <%= image_tag 'kent.png' %>
    <div class="details">
      <span class="title">Lorem Ipsum Dolor</span>
      <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
    </div>
  </a>
</div>
