---
title: hearts and bones band | Music
---


<div class="container">
  <div class="music-wrapper">
    <h1> MUSIC - VIDEOS AND SOUND </h1>
    <div class="music-wrapper">
      <section class="section-misic-r">
        <p>Videos- Unedited and live</p>
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/nAXNryyzeYA' frameborder='0' allowfullscreen></iframe></div>
      </section>

      <section class="section-misic-l">
        <p>Helen of Troy at the Forestville Club, July 23 2016</p>
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/LwC7ITuweXc' frameborder='0' allowfullscreen></iframe></div>
      </section>
    </div>
  </div>

  <div class="music-section">
    <h1>Sounds</h1>
    <h3>From our upcoming CD. </h3>
    <section class="music-panel-r">
      <strong>
        <p>
          <%= link_to 'Girl With A Ruby Ring', '../assets/media_music/girl_with_a_ruby_ring.mp3', target: "blank" %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Leave This Town', '../assets/media_music/leave_this_town.mp3', target: "blank"  %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to "The Kid's A Mess", '../assets/media_music/the_kids_a_mess.mp3', target: "blank"  %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Reaching For the Second E', '../assets/media_music/reaching_for_the_second_e.mp3', target: "blank"  %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Dark Highway', '../assets/media_music/dark_highway.mp3', target: "blank"  %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Everyone Knows Too Much Anyway', '../assets/media_music/everyone_knows_too_much.mp3', target: "blank"  %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Find My Way Home', '../assets/media_music/find_my_way_home.mp3', target: "blank"  %>
        </p>
      </strong>
    </section>

    <section class="music-panel-l">
      <strong>
        <p>
          <%= link_to 'Bad Attitude', '../assets/media_music/bad_attitude.mp3', target: "blank"  %>
        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Burning Your Dream House Down', '../assets/media_music/burning_your_dream.mp3', target: "blank"  %>

        </p>
      </strong>

      <strong>
        <p>
          <%= link_to 'Children of the Night', '../assets/media_music/children_of_the_night.mp3', target: "blank"  %></p>
        </strong>

        <strong>
          <p>
            <%= link_to 'Hungry', '../assets/media_music/hungry.mp3', target: "blank"  %>
          </p>
        </strong>

        <strong>
          <p>
            <%= link_to 'Helen of Troy', '../assets/media_music/helen_of_troy.mp3', target: "blank"  %>
          </p></strong>

          <strong>
            <p>
              <%= link_to 'Gangster of Light', '../assets/media_music/gangster_of_light.mp3', target: "blank"  %>
            </p></strong>
          </section>
        </div>
      </div>
