---
title: hearts and bones band | Photo
---

<div class="container">
  <div class="gallery-wrapper">
    <h1>Gallery</h1>
    <p>Venues in and around Lake, Sonoma, Mendocino and Napa counties</p>
    <div class="popup-gallery">
      <a href="../assets/images/spot.jpg" title="The Spot- Clearlake">
        <%= image_tag 'spot.jpg' %>
      </a>

      <a href="../assets/images/jasper-o-farrell-s-pub.jpg" title="Jasper O'Ferrall's- Sebastopol">
        <%= image_tag 'jasper-o-farrell-s-pub.jpg' %>
      </a>

      <a href="../assets/images/omeara.jpg" title="O'Meara's- Lakeport">
        <%= image_tag 'omeara.jpg' %>
      </a>

      <a href="../assets/images/forestville.jpg" title="Forestville Club- Forestville">
        <%= image_tag 'forestville.jpg' %>
      </a>

      <a href="../assets/images/tradewinds.jpg" title="Tradewinds- Cotati">
        <%= image_tag 'tradewinds.jpg' %>
      </a>

      <a href="../assets/images/villagepub.jpg" title="Village Inn, Cobb">
        <%= image_tag 'villagepub.jpg' %>
      </a>

      <a href="../assets/images/oldworld.jpg" title="Old World Tavern, Lakeport">
        <%= image_tag 'oldworld.jpg' %>
      </a>

      <a href="../assets/images/IMG_1200.jpg" title="Middletown Art Center">
        <%= image_tag 'IMG_1200.jpg' %>
      </a>
    </div>
  </div>
</div>
