---
title: hearts and bones band | Photo
---

<div class="container">
  <h1>Gallery</h1>
  <p>Venues in and around Lake, Sonoma, Mendocino and Napa counties</p>
  <div class="popup-gallery">

    <% link_to 'assets/images/spot.jpg', title: "The Cleaner" do %>
    <%= image_tag 'spot.jpg' %>
    <% end %>

    <% link_to 'assets/images/jasper-o-farrell-s-pub.jpg', title: "The Cleaner" do %>
    <%= image_tag 'jasper-o-farrell-s-pub.jpg' %>
    <% end %>

    <% link_to 'assets/images/omeara.jpg', title: "The Cleaner" do %>
    <%= image_tag 'omeara.jpg' %>
    <% end %>

    <% link_to 'assets/images/forestville.jpg', title: "The Cleaner" do %>
    <%= image_tag 'forestville.jpg' %>
    <% end %>

    <% link_to 'assets/images/tradewinds.jpg', title: "The Cleaner" do %>
    <%= image_tag 'tradewinds.jpg' %>
    <% end %>

    <% link_to 'assets/images/villagepub.jpg', title: "The Cleaner" do %>
    <%= image_tag 'villagepub.jpg' %>
    <% end %>

    <% link_to 'assets/images/oldworld.jpg', title: "The Cleaner" do %>
    <%= image_tag 'oldworld.jpg' %>
    <% end %>

    <% link_to 'assets/images/IMG_1200.jpg', title: "The Cleaner" do %>
    <%= image_tag 'IMG_1200.jpg' %>
    <% end %>

  </div>
</div>


